<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20211223_crawling_movie_monthly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

date = list(range(20210101, 20210110))

titles = []
points = []

for time in date:
  url = "https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date={}".format(date)
  res = requests.get(url)
  res.raise_for_status()  # 문제있으면 프로그램 종료
  soup = BeautifulSoup(res.text, "lxml")


  title_list = soup.find_all("td", attrs={"class":"title"})
  for title in title_list:
    titles.append(title.a.get_text())

  point_list = soup.find_all("td", attrs={"class":"point"})
  for point in point_list:
    points.append(point.get_text())


df = pd.DataFrame({'name':titles, 'point': points})
df

                 name point
0         나, 다니엘 블레이크  9.29
1              로마의 휴일  9.25
2                  코다  9.23
3       스파이더맨: 노 웨이 홈  9.20
4              어바웃 타임  9.18
..                ...   ...
301          아무도 없는 곳  6.78
302           장르만 로맨스  6.66
303        매트릭스: 리저렉션  6.60
304  베놈 2: 렛 데어 비 카니지  6.11
305              이터널스  5.57

[306 rows x 2 columns]

In [42]:
df.duplicated(['name'])

0      False
1      False
2      False
3      False
4      False
       ...
301     True
302     True
303     True
304     True
305     True
Length: 306, dtype: bool

In [46]:
df_n = df.drop_duplicates(['name'], keep='last').reset_index(drop=True)
df_n

                name point
0        나, 다니엘 블레이크  9.29
1             로마의 휴일  9.25
2                 코다  9.23
3      스파이더맨: 노 웨이 홈  9.20
4             어바웃 타임  9.18
5      꽃다발 같은 사랑을 했다  9.01
6               더 헌트  8.98
7               아멜리에  8.82
8           고양이를 부탁해  8.81
9            너의 이름은.  8.80
10      가장 따뜻한 색, 블루  8.77
11             공각기동대  8.72
12           걸어도 걸어도  8.64
13              라라랜드  8.62
14    너와 파도를 탈 수 있다면  8.52
15               태일이  8.51
16                레토  8.43
17       엔칸토: 마법의 세계  8.35
18           초속5센티미터  8.35
19         연애 빠진 로맨스  8.31
20             돈 룩 업  8.15
21            시인의 사랑  8.04
22          프렌치 디스패치  8.01
23     킹스맨: 퍼스트 에이전트  8.00
24            날씨의 아이  7.96
25       라스트 나잇 인 소호  7.87
26             유체이탈자  7.68
27          디어 에반 핸슨  7.51
28               아네트  7.27
29          아무도 없는 곳  6.78
30           장르만 로맨스  6.66
31        매트릭스: 리저렉션  6.60
32  베놈 2: 렛 데어 비 카니지  6.11
33              이터널스  5.57

# 월별 인기영화 리스트 만들어보자
## - 날짜 변수를 자동으로 끌어오도록