<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20220128_Bank_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd

In [78]:
df = pd.read_excel('거래내역.xls', skiprows = 7, usecols=[2,3,4,5,6,7])
df = df.fillna('')

In [79]:
df

                     거래일시    출금금액    입금금액        거래후잔액   거래내용    거래기록사항
0    2022/01/26\n18:46:51   67405               377024  실시간이체    삼성화재입금
1    2022/01/26\n12:20:54          380451       444429  스마트당행      1월급여
2    2022/01/25\n20:12:33   78140                63978   자동납부  과학기술인공제회
3    2022/01/25\n19:20:06   70439               142118    보험료  삼생01191회
4    2022/01/25\n19:18:02  506846               212557   카드대금      씨티카드
..                    ...     ...     ...          ...    ...       ...
160  2021/08/23\n20:07:14   79560          3.99205e+07   자동납부  과학기술인공제회
161  2021/08/23\n12:39:03           4e+07  4.00001e+07   여신연동   011대출연동
162  2021/08/02\n16:22:40   50000                   84  공동플랫폼       그리고
163  2021/08/02\n16:22:31           50000        50084  스마트당행       서기용
164

[165 rows x 6 columns]

In [80]:
df_credit = df[df['거래내용']=="카드대금"]

In [81]:
df_credit

                     거래일시         출금금액 입금금액        거래후잔액  거래내용 거래기록사항
4    2022/01/25\n19:18:02       506846            212557  카드대금   씨티카드
7    2022/01/25\n19:05:57  1.78152e+06            905593  카드대금   삼성카드
26   2021/12/27\n19:24:34          300       4.68626e+06  카드대금   롯데카드
27   2021/12/27\n19:23:54       544943       4.68656e+06  카드대금   씨티카드
29   2021/12/27\n19:19:48  2.45961e+06        5.3801e+06  카드대금   삼성카드
55   2021/11/25\n19:10:07  2.04879e+06                 0  카드대금   삼성카드
56   2021/11/25\n19:07:22       512810       2.04879e+06  카드대금   씨티카드
89   2021/10/25\n19:16:57  1.67716e+06       1.74691e+06  카드대금   삼성카드
91   2021/10/25\n19:04:11       838747       3.57267e+06  카드대금   씨티카드
110  2021/09/27\n19:19:07  1.92321e+06       6.75264e+06  카드대금   삼성카드
112  2021/09/27\n19:09:04       511353       8.82445e+06  카드대금   씨티카드
139  2021/08/25\n19:17:50       509314       3.98559e+07  카드대금   씨티카드
142  2021/08/25\n19:09:53  1.95717e+06       4.04732e+07  카드대금   삼성카드

In [82]:
df_credit[df_credit['거래기록사항']=='삼성카드']

                     거래일시         출금금액 입금금액        거래후잔액  거래내용 거래기록사항
7    2022/01/25\n19:05:57  1.78152e+06            905593  카드대금   삼성카드
29   2021/12/27\n19:19:48  2.45961e+06        5.3801e+06  카드대금   삼성카드
55   2021/11/25\n19:10:07  2.04879e+06                 0  카드대금   삼성카드
89   2021/10/25\n19:16:57  1.67716e+06       1.74691e+06  카드대금   삼성카드
110  2021/09/27\n19:19:07  1.92321e+06       6.75264e+06  카드대금   삼성카드
142  2021/08/25\n19:09:53  1.95717e+06       4.04732e+07  카드대금   삼성카드

In [83]:
df[df['거래내용'].str.contains('보험', na=False)]   # 시리즈에 문자열 함수를 사용하고 싶다면 Series.str.문자열함수()
# na = False 처리하지 않으면 에러 : Cannot mask with non-boolean array containing NA / NaN values
# True/False 로 구분되지 않는 사항(NaN 등)에 대한 처리를 하지 못하기 때문에 공백은 False 처리해야함

                     거래일시    출금금액 입금금액        거래후잔액 거래내용    거래기록사항
3    2022/01/25\n19:20:06   70439            142118  보험료  삼생01191회
5    2022/01/25\n19:15:38  148600            719403  보험료   한화손003건
6    2022/01/25\n19:12:35   37590            868003  보험료  한화생01112
28   2021/12/27\n19:21:40  148600        5.2315e+06  보험료   한화손003건
30   2021/12/27\n19:18:25   37590       7.83971e+06  보험료  한화생12111
31   2021/12/27\n19:15:31   70439        7.8773e+06  보험료  삼생12190회
32   2021/12/27\n19:15:30   70439       7.94774e+06  보험료  삼생11189회
57   2021/11/25\n19:05:45  148600        2.5616e+06  보험료   한화손003건
58   2021/11/25\n19:04:55   37590        2.7102e+06  보험료  한화생11110
87   2021/10/25\n19:20:50   70439       1.63888e+06  보험료  삼생10188회
88   2021/10/25\n19:18:00   37590       1.70932e+06  보험료  한화생10109
90   2021/10/25\n19:11:55  148600       3.42407e+06  보험료   한화손003건
111  2021/09/27\n19:12:14  148600       8.67585e+06  보험료   한화손003건
113  2021/09/27\n19:08:24   70439       9.33581e+06  보험료  삼생09187회
114  2021/09/27\n19:04:31   37590       9.40624e+06  보험료  한화생09108
140  2021/08/25\n19:15:14   70439       4.03652e+07  보험료  삼생08186회
141  2021/08/25\n19:11:04   37590       4.04356e+07  보험료  한화생08107
143  2021/08/25\n19:03:04  148600       4.24304e+07  보험료   한화손003건

In [88]:
df_insure = df[df['거래내용'].str.contains('보험', na=False)]
df_insure

                     거래일시    출금금액 입금금액        거래후잔액 거래내용    거래기록사항
3    2022/01/25\n19:20:06   70439            142118  보험료  삼생01191회
5    2022/01/25\n19:15:38  148600            719403  보험료   한화손003건
6    2022/01/25\n19:12:35   37590            868003  보험료  한화생01112
28   2021/12/27\n19:21:40  148600        5.2315e+06  보험료   한화손003건
30   2021/12/27\n19:18:25   37590       7.83971e+06  보험료  한화생12111
31   2021/12/27\n19:15:31   70439        7.8773e+06  보험료  삼생12190회
32   2021/12/27\n19:15:30   70439       7.94774e+06  보험료  삼생11189회
57   2021/11/25\n19:05:45  148600        2.5616e+06  보험료   한화손003건
58   2021/11/25\n19:04:55   37590        2.7102e+06  보험료  한화생11110
87   2021/10/25\n19:20:50   70439       1.63888e+06  보험료  삼생10188회
88   2021/10/25\n19:18:00   37590       1.70932e+06  보험료  한화생10109
90   2021/10/25\n19:11:55  148600       3.42407e+06  보험료   한화손003건
111  2021/09/27\n19:12:14  148600       8.67585e+06  보험료   한화손003건
113  2021/09/27\n19:08:24   70439       9.33581e+06  보험료  삼생09187회
114  2021/09/27\n19:04:31   37590       9.40624e+06  보험료  한화생09108
140  2021/08/25\n19:15:14   70439       4.03652e+07  보험료  삼생08186회
141  2021/08/25\n19:11:04   37590       4.04356e+07  보험료  한화생08107
143  2021/08/25\n19:03:04  148600       4.24304e+07  보험료   한화손003건

In [85]:
df.dtypes # 각 컬럼의 타입을 보여줌

거래일시      object
출금금액      object
입금금액      object
거래후잔액     object
거래내용      object
거래기록사항    object
dtype: object

In [86]:
def comma3(value):
    return format(value, ',')

In [90]:
df['출금금액'].apply(comma3)

ValueError: ignored