<a href="https://colab.research.google.com/github/kiyong21c/nadocoding/blob/master/20220217_OTproject_Pandas_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [99]:
import pandas as pd
df = pd.DataFrame({'날짜':pd.date_range('2022-01-01', periods = 12, freq = 'MS'), '이름':[1,2,3,4,5,6,7,8,9,10,11,12]})
df

           날짜  이름
0  2022-01-01   1
1  2022-02-01   2
2  2022-03-01   3
3  2022-04-01   4
4  2022-05-01   5
5  2022-06-01   6
6  2022-07-01   7
7  2022-08-01   8
8  2022-09-01   9
9  2022-10-01  10
10 2022-11-01  11
11 2022-12-01  12

In [100]:
import datetime
for i in range(1, 13):
    df.loc[df['날짜'] == "2022-{}-01".format(i), '해당월'] = "{}월".format(i)
    # 특정열의 데이터가 조건에 해당할때 다른 열의 행값을 변경
    # df.loc[df['날짜'] <= "2022-{}-1".format(2), '이름'] = 100
    # "날짜"열의 데이터 조건에 따라 "이름"열 값을 변경
    # datetime 형식은 "2022-1-01"등으로 비교조건 설정 가능
df

           날짜  이름  해당월
0  2022-01-01   1   1월
1  2022-02-01   2   2월
2  2022-03-01   3   3월
3  2022-04-01   4   4월
4  2022-05-01   5   5월
5  2022-06-01   6   6월
6  2022-07-01   7   7월
7  2022-08-01   8   8월
8  2022-09-01   9   9월
9  2022-10-01  10  10월
10 2022-11-01  11  11월
11 2022-12-01  12  12월

In [101]:
import pandas as pd
df = pd.DataFrame({'날짜':pd.date_range('2021-12-16', periods=100, freq='3D')})
df.head()

          날짜
0 2021-12-16
1 2021-12-19
2 2021-12-22
3 2021-12-25
4 2021-12-28

In [102]:
# 매년 15일과 같은 특정 날짜 datetime periods 만들기(OT 기준일)
pd.date_range('2021-12-1', periods=13, freq='MS') + timedelta(days=14)
# freq='MS' : 매월(Month)초(Start)
# 매월초 + timedelta → 매월 특정일 설정(다른방법 없음)

DatetimeIndex(['2021-12-15', '2022-01-15', '2022-02-15', '2022-03-15',
               '2022-04-15', '2022-05-15', '2022-06-15', '2022-07-15',
               '2022-08-15', '2022-09-15', '2022-10-15', '2022-11-15',
               '2022-12-15'],
              dtype='datetime64[ns]', freq=None)

In [103]:
from datetime import datetime, timedelta
dt = pd.date_range('2021-12-1', periods=13, freq='MS') + timedelta(days=14)
for i in range(0, 12):
    df.loc[(df['날짜'] <= dt[i+1]) & (df['날짜'] > dt[i]), '해당월'] = str(dt[i+1].month) + "월"
    # for문 통해 i+1은 12까지 적용되므로 12번째 인덱스를 사용하기 위해 dt 리스트는 13개의 값이 필요함 
df

           날짜  해당월
0  2021-12-16   1월
1  2021-12-19   1월
2  2021-12-22   1월
3  2021-12-25   1월
4  2021-12-28   1월
..        ...  ...
95 2022-09-27  10월
96 2022-09-30  10월
97 2022-10-03  10월
98 2022-10-06  10월
99 2022-10-09  10월

[100 rows x 2 columns]